*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#wheel{
    border: none;
    /* background-color:rgb(225, 222, 222); */
}

#big{
    background-color: transparent;
}
button{
    border: none;
}
.p{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
}
.shop{
    background-color: rgb(248 249 251);
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    /* background-color: rgb(225, 222, 222);
    border-radius: 15px; */

}
.container2{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

.card-img-top{
     height: 200px;
}

.card{
    border: none;
    width: 90%;
}


img{
    object-fit: cover;
    transition: transform 0.3s ease; 
}

img:hover{
        transform: scale(0.9);  
}

.heading{
    background-image: url(image/blue.jpg);
    margin-left: 50px;
    margin-right: 50px;
    height: 150px;
    margin-bottom: 5%;
    border-radius: 30px;
}

.head{
    text-align: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    padding-top: 2%;
}


.img{
    padding: 2%;
    text-align: center;
}

.navbar-collapse{
    text-align: end;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler{

    border: none;
}

.navbar-toggler:active{
    border: none;
}

.container-fluid{
    margin-left: 40px;
    margin-right: 40px;
}

@media screen and (max-width:600px) {
    .container2{
        padding-top: 3%;
    }
}
@media screen and (min-width:600px) and (max-width:800px) {
    .container2{
        padding-top: 3%;
    }
}






